:root {
    --primary-color: #8D9B84;
    --secondary-color: #F4EEED;
    --tertiary-color: #EFD9D1;
    --other-color: #DDB7AB; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #8D9B84;
    background-image: url("https://www.transparenttextures.com/patterns/little-triangles.png");
    justify-content: space-between;
}

header h1 {
    padding: 10px 15px;
    font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 30px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 20px;
}

/* style the footer */
#contact-header {
    color: var(--secondary-color);
    padding: 10px 0px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

footer {
    margin-top: auto;
    padding: 10px 15px;
    color: white;
    background-color: #8D9B84;
    background-image: url("https://www.transparenttextures.com/patterns/little-triangles.png");
    justify-content: space-between;
}

address {
    line-height: 2;
    font-size: 20px;
}

address a {
    color: var(--secondary-color);
}

/* style the about me section */
.about-me {
   display: flex; 
   flex-wrap: wrap;
}

#profile-pic {
    width: 350px;
    height: 450px;
}

.photo {
    flex-direction: column;
    height: 500px;
    width: 400px;
    margin: 10px;
}

.paragraph {
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin: 10px;
    line-height: 2;
}

hr {
    margin: 10px;
    border: 0.5px solid var(--primary-color);
}

/* style the projects section */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex-direction: column;
    margin: 10px;
    text-align: center;
    position: relative;
}

.project-0-flex {
    display: flex;
    border: solid 2px red;
}

#first-project {
    height: 300px;
    min-width: 930px; 
    margin: 10px;
    border: solid 2px blue;
    opacity: 1.0;
    /* position: relative; */
}

.on-top-first {
    top: 0px;
    left: 0px;
    background-color: var(--primary-color);
    padding-top: 10px;  
    /* position: absolute; */
}

#first-project:hover {
   opacity: 0.5;
}

/* work on project hover */

.project-title {
    color: var(--secondary-color);
    font-size: 25px;
}

.project-description {
    color: var(--secondary-color);
    font-size: 20px;
}    

.project-img {
    height: 450px;
    width: 450px;
    border: solid var(--primary-color) 2px;
    opacity: 1.0;
}

.on-top {
    top: 375px;
    left: 0px;
    width: 450px;
    height: 75px;
    background-color: var(--primary-color);
    position: absolute;
    padding-top: 10px;
}

.project-img:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
}
/* style projects section */

.h2-header {
    color: var(--primary-color);
    padding: 10px 15px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}
 
address a:hover {
    color:#DDB7AB;
}




