.header {
    display: flex;
}

.nav {
    flex-direction: column;
}

.about-me {
   display: flex; 
}

.photo {
    flex-direction: column;
}

.paragraph {
    flex-direction: column;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex-direction: column;
    border: solid black 2px;
    padding: 80px;
    margin: 10px;;
}

