:root {
    --primary-color: #999B84;
    --secondary-color: #F4EEED;
    --tertiary-color: #EFD9D1;
    --other-color: #DDB7AB; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    flex-wrap: wrap;
    background-color: #999b84;
background-image: url("https://www.transparenttextures.com/patterns/little-triangles.png");
    justify-content: space-between;
}

header h1 {
    padding: 10px 15px;
    font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 30px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 20px;
}

/* style the footer */
#contact-header {
    color: var(--secondary-color);
    padding: 10px 0px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

footer {
    margin-top: auto;
    padding: 10px 15px;
    color: white;
    background-color: #999b84;
    background-image: url("https://www.transparenttextures.com/patterns/little-triangles.png");
    justify-content: space-between;
}

address {
    line-height: 2;
    font-size: 20px;
}

address a {
    color: var(--secondary-color);
}

/* style the about me section */
.about-me {
   display: flex; 
   flex-wrap: wrap;
}

img {
    width: 342px;
    height: 458px;
}

.photo {
    flex-direction: column;
    /* border: solid black 2px; */
    height: 500px;
    width: 500px;
    margin: 10px;;
}

.paragraph {
    flex-direction: column;
    /* border: solid black 2px; */
    height: 500px;
    width: 500px;
    margin: 10px;;
    line-height: 2;
}

hr {
    margin: 10px;
    border: 0.5px solid var(--primary-color);
}

/* style the projects section */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex-direction: column;
    border: solid black 2px;
    height: 300px;
    width: 300px;
    margin: 10px;;
}

.project-0-flex {
    display: flex;
}

.project-0 {
    flex-direction: column;
    border: solid black 2px;
    height: 300px;
    width: 100%;
    margin: 10px;
}

.h2-header {
    color: var(--primary-color);
    padding: 10px 15px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}


